<h1 class="my-2 p-2"><span class="fa fa-store" aria-hidden="true"></span> Журнал по складу сырья №1</h1>

<div class="table-responsive-lg">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <ButtonSortPartialComponent OrderType="EDataOrder" CustomEvent="@SetOrder" Asc="EDataOrder.TimeAsc" Desc="EDataOrder.TimeDesc" Current="DataOrder">
                        Дата время начала смены
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EDataOrder" CustomEvent="@SetOrder" Asc="EDataOrder.Tank1Asc" Desc="EDataOrder.Tank1Desc" Current="DataOrder">
                        Объем песка
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EDataOrder" CustomEvent="@SetOrder" Asc="EDataOrder.Tank2Asc" Desc="EDataOrder.Tank2Desc" Current="DataOrder">
                        Объем цемента
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EDataOrder" CustomEvent="@SetOrder" Asc="EDataOrder.Tank3Asc" Desc="EDataOrder.Tank3Desc" Current="DataOrder">
                        Объем извести
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EDataOrder" CustomEvent="@SetOrder" Asc="EDataOrder.ShiftAsc" Desc="EDataOrder.ShiftDesc" Current="DataOrder">
                        Смена
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EDataOrder" CustomEvent="@SetOrder" Asc="EDataOrder.UserAsc" Desc="EDataOrder.UserDesc" Current="DataOrder">
                        Кладовщик
                    </ButtonSortPartialComponent>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Datas is null)
            {
                <tr><th colspan="9" class="p-4 text-center">Загрузка ...</th></tr>
            }
            else if (!Datas.Any())
            {
                <tr><th colspan="9" class="p-4 text-center">Данные отсутствуют</th></tr>
            }
            else
            {
                foreach (var e in Datas)
                {
                    <tr>
                        <td>@e.Time.ToString("dd.MM.yyyy") @e.Time.ToString("HH:mm")</td>
                        <td>@e.Tank1LooseRawValue.ToString("F2") м3</td>
                        <td>@e.Tank2LooseRawValue.ToString("F2") м3</td>
                        <td>@e.Tank3LooseRawValue.ToString("F2") м3</td>
                        <td>@e.Factory1Shift?.Name</td>
                        <td>@e.Profile?.SurName @e.Profile?.FirstName[0]. @e.Profile?.Patronymic[0].</td>
                        <td class="text-center">
                            <AuthorizeView Roles="admins, masters">
                                <Authorizing>
                                    <Tooltip Text="Редактировать эту запись журнала">
                                        <NavLink class="btn btn-sm btn-info mb-1" href="@($"factory1/warehouse1/edit/{e.Id}")">
                                            <i class="fas fa-edit"></i> Редактировать
                                        </NavLink>
                                    </Tooltip>
                                </Authorizing>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <ul class="pagination">
        @if (Page > 1)
        {
            <li class="page-item">
                <button class="page-link text-dark" @onclick=@(async () => { await SetPage(Page - 1); })>
                    <i class="fas fa-arrow-left"></i> Назад
                </button>
            </li>
        }
        @if (Page > 1)
        {
            <li class="page-item">
                <button class="page-link text-dark" @onclick=@(async () => { await SetPage(1); })>
                    1
                </button>
            </li>
        }
        @if (Page > 3)
        {
            <li class="page-item p-1 bg-secondary bg-opacity-50">
            </li>
        }
        @if (Page > 2)
        {
            <li class="page-item">
                <button class="page-link text-dark" @onclick=@(async () => { await SetPage(Page - 1); })>
                    @(Page - 1)
                </button>
            </li>
        }
        <li class="page-item active">
            <a class="page-link text-white">
                @Page
            </a>
        </li>
        @if (Page < PagesCount - 1)
        {
            <li class="page-item">
                <button class="page-link text-dark" @onclick=@(async () => { await SetPage(Page + 1); })>
                    @(Page + 1)
                </button>
            </li>
        }
        @if (Page < PagesCount - 2)
        {
            <li class="page-item p-1 bg-secondary bg-opacity-50">
            </li>
        }
        @if (Page < PagesCount)
        {
            <li class="page-item">
                <button class="page-link text-dark" @onclick=@(async () => { await SetPage(PagesCount); })>
                    @PagesCount
                </button>
            </li>
        }
        @if (Page < PagesCount)
        {
            <li class="page-item">
                <button class="page-link text-dark" @onclick=@(async () => { await SetPage(Page + 1); })>
                    Вперед <i class="fas fa-arrow-right"></i>
                </button>
            </li>
        }
    </ul>
</div>

<div class="my-1">
    <NavLink class="btn btn-success mb-1" href="factory1/warehouse1/create">
        <i class="fas fa-plus"></i>
        Добавить данные за смену
    </NavLink>
    <button class="btn btn-info mb-1" @onclick="UpdateDataAsync">Обновить</button>
</div>
