@attribute [Authorize]

<h1 class="my-2 p-2"><span class="fa fa-store" aria-hidden="true"></span> Журнал по складу готовой продукции №2</h1>

<div class="table-responsive-lg">
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <ButtonSortPartialComponent OrderType="EWarehouse2Order" CustomEvent="@SetOrder" Asc="EWarehouse2Order.TimeAsc" Desc="EWarehouse2Order.TimeDesc" Current="DataOrder">
                        Дата время
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EWarehouse2Order" CustomEvent="@SetOrder" Asc="EWarehouse2Order.Place1Asc" Desc="EWarehouse2Order.Place1Desc" Current="DataOrder">
                        Товара на месте 1
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EWarehouse2Order" CustomEvent="@SetOrder" Asc="EWarehouse2Order.Place2Asc" Desc="EWarehouse2Order.Place2Desc" Current="DataOrder">
                        Товара на месте 2
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EWarehouse2Order" CustomEvent="@SetOrder" Asc="EWarehouse2Order.Place3Asc" Desc="EWarehouse2Order.Place3Desc" Current="DataOrder">
                        Товара на месте 3
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EWarehouse2Order" CustomEvent="@SetOrder" Asc="EWarehouse2Order.ShiftAsc" Desc="EWarehouse2Order.ShiftDesc" Current="DataOrder">
                        Смена
                    </ButtonSortPartialComponent>
                </th>
                <th>
                    <ButtonSortPartialComponent OrderType="EWarehouse2Order" CustomEvent="@SetOrder" Asc="EWarehouse2Order.UserAsc" Desc="EWarehouse2Order.UserDesc" Current="DataOrder">
                        Кладовщик
                    </ButtonSortPartialComponent>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Datas is null)
            {
                <tr><th colspan="9" class="p-4 text-center">Загрузка ...</th></tr>
            }
            else if (!Datas.Any())
            {
                <tr><th colspan="9" class="p-4 text-center">Данные отсутствуют</th></tr>
            }
            else
            {
                foreach (var e in Datas)
                {
                    <tr>
                        <td>@e.Time.ToString("dd.MM.yyyy") @e.Time.ToString("HH:mm")</td>
                        <td>@e.Place1ProductType.Name - @e.Place1ProductsCount.ToString() шт.</td>
                        <td>@e.Place2ProductType.Name - @e.Place2ProductsCount.ToString() шт.</td>
                        <td>@e.Place3ProductType.Name - @e.Place3ProductsCount.ToString() шт.</td>
                        <td>@e.Factory1Shift?.Name</td>
                        <td>@e.Profile?.SurName @e.Profile?.FirstName[0]. @e.Profile?.Patronymic[0].</td>
                        <td class="text-center">
                            <AuthorizeView Roles="admins, masters">
                                <Authorized>
                                    <Tooltip Text="Редактировать эту запись журнала">
                                        <NavLink class="btn btn-sm btn-info mb-1" href="@($"factory1/warehouse2/edit/{e.Id}")">
                                            <i class="fas fa-edit"></i> Редактировать
                                        </NavLink>
                                    </Tooltip>
                                </Authorized>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<PaginationPartialComponent CustomEvent="@SetPage" Page="Page" PagesCount="PagesCount" />

<div class="my-1">
    <NavLink class="btn btn-success mb-1" href="factory1/warehouse2/create">
        <i class="fas fa-plus"></i>
        Добавить данные за смену
    </NavLink>
    <button class="btn btn-info mb-1" @onclick="UpdateDataAsync">Обновить</button>
</div>
